<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="gitTest.TC2_GET_VerifyRepo"/>
      <class name="trelloTests.TC4_DEL_TrolloBoard"/>
      <class name="gitTest.TC1_POST_NewRepo"/>
      <class name="gitTest.TC3_DEL_delRepo"/>
      <class name="trelloTests.TC2_GET_TrelloBoard"/>
      <class name="trelloTests.TC1_POST_TrelloBoard"/>
      <class name="trelloTests.TC3_POST_TrelloList"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
